* {box-sizing: border-box;}
body{
    background-image: url("Hoi-An-Yellow-City-by-Rehahn.jpg");
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
}



/* .container{
    padding: 20px;
    width: 100%;
    padding-top: 7%;
    background-color: rgba(255, 255, 255, 0.9);
    /*border-radius: 5px;
    text-align: center; 
    margin-left: -1%;
    left: 0;
}
.top{
    width: 100%;
    background-color: darkblue;
    top: 0;
    left:0;
    margin-top: 0;
    margin-left: 0;
    position: fixed;
}
form {
    display: inline-block;
}
#button{
    display: inline-block;
    background-color:#fc999b;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
}

#description{
    text-align: center;
    width: 20%;
}

.input-group-append{
    width: 0%;
}

input{
    padding: 4px 15px 4px 5px;
    
}*/